.faq-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.faq-heading {
  margin-top: 30px;
  color: white;
}

.faq-input-box {
  margin-top: 30px;
  width: 80%;
  background-color: white;
  border-radius: 15px;
  padding: 20px 15px;
}

.faq-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq-input-upper-part {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.faq-input-left-part {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq-input-right-part {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.faq-input-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.faq-labels {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 15px;
}

.faq-input {
  background-color: transparent;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  padding: 7px 15px;
  width: 75%;
  height: 100%;
  border-radius: 15px;
  border: 1.5px solid black;
  resize: none;
}

.faq-textarea {
  min-height: 100px;
  padding: 15px 15px;
  overflow: hidden;
}

.faq-add-btn {
  color: white;
  background-color: black;
  outline: none;
  border: none;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 100px;
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.faq-add-btn:hover {
  opacity: 0.7;
}

.faq-show-box {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  gap: 25px;
  align-items: center;
  justify-content: center;
  margin: 25px 0;
}

.faq-show-inner-box {
  display: flex;
  width: 350px;
  background-color: #eaefeb;
  border-radius: 15px;
  padding: 15px;
  gap: 5px;
}

.faq-show-left-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.faq-show-left-box h3 {
  font-size: 16px;
  font-weight: 600;
  margin: auto;
  color: #ee0a22;
}

.faq-box-img {
  width: 100%;
  height: 60px;
  object-fit: cover;
  border-radius: 5px;
}

.faq-show-in-left {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}

.faq-show-in-left .faq-icon {
  color: #ffffff;
  font-size: 18px;
  background-color: rgb(0, 0, 0);
  text-align: center;
  margin: auto;
  padding: 4px;
  border-radius: 50%;
  cursor: pointer;
}

.faq-show-in-left .faq-icon-delete {
  color: #ff7784;
}

.faq-show-in-left .faq-icon-edit {
  color: #7dcfff;
}

.faq-show-right-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.faq-show-right-box h3 {
  font-size: 16px;
  font-weight: 700;
  color: #ee0a22;
  margin-bottom: 10px;
}

.faq-show-right-box p {
  font-size: 15px;
  font-weight: 500;
  color: #0386d0;
}

@media screen and (max-width: 880px) {
  .faq-input-upper-part {
    flex-direction: column;
  }

  .faq-show-inner-box {
    width: 300px;
  }
}
