@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Playpen+Sans:wght@100..800&family=SUSE:wght@100..800&display=swap");

body {
  /* background: linear-gradient(90deg, #E0BCF3 0%, #7EE7EE 100%); */
  background: linear-gradient(to right, #05d6d9, #f907fc);
  user-select: none;
  scrollbar-width: none;
}

* {
  font-family: "Libre Franklin", sans-serif;
  margin: 0;
  padding: 0;
}
